.root-app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 60px auto 60px;
  grid-template-areas:
    'header header'
    'search search'
    'list shop'
    'footer footer';

  .header {
    grid-area: header;
  }

  .search {
    grid-area: search;
  }
  .product-list {
    grid-area: list;
  }

  .cart {
    grid-area: shop;
  }

  .footer {
    grid-area: footer;
  }
}
