.calendar-main {
  %calendar-row {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  %calendar-cell {
    width: 100%;
    padding: 0.5rem;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: $fs-header;

    .logo {
      color: $bdazzeld-blue;
      padding: 10px;
      h1 {
        margin: 0 0 0 0.5rem;
        padding-top: 7px;
      }
    }

    .tool-bar {
      font-weight: bold;

      .cl-month {
        color: $khaki;
        display: flex;
        padding: 6px;
        button {
          color: $dusty-gray;
          font-size: 1rem;
          padding: 0;
          width: 20px;
          background-color: white;
          user-select: none;
          border: 1px solid $alto;
          border-radius: 2px;
          margin-left: 0.5rem;
          &:focus {
            outline: none;
          }
          &:hover {
            color: $pickled-bluewood;
            box-shadow: 0 2px 2px $alto;
          }
        }
      }
    }
  }

  .day-bar {
    @extend %calendar-row;
    div {
      @extend %calendar-cell;
    }
  }

  .calendar {
    background-color: white;

    .cl-week {
      @extend %calendar-row;
      .cl-day {
        overflow: hidden;
        font-weight: bold;
        @extend %calendar-cell;
        height: 100px;
        user-select: none;
        cursor: default;
        border-left: $calendar-border;
        border-top: $calendar-border;

        &:last-child {
          border-right: $calendar-border;
        }

        &.past {
          opacity: 0.6;
        }

        &.not-current-month {
          color: $alto;
        }

        &.today {
          background-color: $buttermilk;
        }

        &.active {
          background-color: $pink;
        }

        .event-list {
          font-size: 0.8rem;
          color: $vista-blue;
          font-weight: bold;
          list-style: none;
          padding: 0;
          margin: 0.5rem 0 0.5rem 0;

          li {
            white-space: nowrap;
          }
        }
      }

      &:last-child {
        .cl-day {
          border-bottom: $calendar-border;
        }
      }
    }
  }
}
