.movie-detail {
  padding: 20px;
  background-color: $winter-wizard;
  color: $oxford-blue;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 'poster content';
  margin-bottom: 20px;

  .content {
    h2 {
      font-size: $fs-small-headers;
      border-bottom: 1px solid $bondi-blue;
      margin: 10px 0;
    }
  }
}
