.main-nav {
  padding: 20px;
  background-color: $alice-blue;
  ul {
    display: flex;
    font-size: $fs-nav;
    height: 40px;
    li {
      padding: 5px 20px;
      cursor: pointer;
      color: $blue-jeans;
      &:hover {
        color: $sky-blue;
        border-bottom: 2px solid $sky-blue;
      }
      &.router-link-active {
        color: $bdazzeld-blue;
      }
    }
    li:last-child {
      margin-left: auto;
    }
  }
}
