$dusty-gray: #999;
$gallery: #eeeeee;
$alto: #ddd;
$bittersweet: #ff6f69;
$buttermilk: rgba(255, 238, 173, 0.4);
$vista-blue: #42b983;
$pink: rgba(255, 182, 193, 0.3);
$pickled-bluewood: #35495e;

$khaki: #c1b098;
$alice-blue: #f2f9ff;
$blue-jeans: #54aeff;
$bdazzeld-blue: #335c81;
$sky-blue: #65afff;

$calendar-border: 1px solid $alto;
