$rich-black: #0a1128;
$oxford-blue: #001f54;
$bondi-blue: #009fb7;
$winter-wizard: #97dffc;
$oxford-dark-blue: #0d2149;

$mine-shaft: #3f3f3f;
$charcoal: #232323;
$cod-gray: #141414;
$sunshade: #ffa624;
$dove-gray: #6e6e6e;
$bright-red: #b50010;
$white: #ffffff;
$alto: #dcdcdc;
