$dusty-gray: #999;
$gallery: #eeeeee;
$alto: #ddd;
$bittersweet: #ff6f69;
$buttermilk: rgba(255, 238, 173, 0.4);
$vista-blue: #42b983;
$pink: rgba(255, 182, 193, 0.3);
$pickled-bluewood: #35495e;

$calendar-border: 1px solid $alto;
