$none: transparent;
$white: #ffffff;
/* Colors */
$blue: #4076d3;
$dark-blue: #21437d;
$green: #4ac358;
$dark-green: #216c29;
$light-grey: #edf6fa;
$greyish: #b8c7cf;
$grey: #8c9eb0;
$darkish-grey: #647789;
$dark-grey: #455769;
$light-black: #2f3f4f;
$black: #263442;
$dark-black: #2b323a;
$red: #f36241;
$yellow: #ffb34f;
$dark-red: #822611;
$brown: #894a12;
$sidebar: #f6fafd;
