/* Font size */
$fs-1: 36px;
$fs-2: 28px;
$fs-3: 20px;
$fs-4: 18px;
$fs-5: 16px;
$fs-6: 15px;
$fs-7: 14px;
$fs-8: 13px;
$fs-9: 12px;
$fs-10: 10px;
$fs-11: 11px;

/* Line spacing */
$ls-1: 0.26px;
$ls-2: 0.21px;
$ls-3: 0.2px;
$ls-4: 0.17px;
$ls-5: 0.15px;
$ls-6: 0.14px;
$ls-7: 0.13px;
$ls-8: 0.12px;
$ls-9: 0.11px;
$ls-10: 0.1px;
$ls-11: 0.09px;
$ls-12: 0.08px;

/* Line height */
$lh-1: 42px;
$lh-2: 33px;
$lh-3: 26px;
$lh-4: 25px;
$lh-5: 24px;
$lh-6: 22px;
$lh-7: 21px;
$lh-8: 20px;
$lh-9: 18px;
$lh-10: 14px;
$lh-11: 12px;

/* Font weight */
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;

$main-font: 'Inter-UI';
$path: '../fonts/inter-ui';
