.nesting {
  ul {
    color: red;
    li {
      display: inline-block;
      margin-left: 50px;
      padding: 20px 0;
    }
    .item {
      color: green;
    }
  }

  .test {
    font-size: 14px;
    p {
      margin: 0 14%;
      a {
        text-decoration: none;
        color: rgb(255, 0, 221);
        font-weight: bold;

        &:hover {
          color: green;
        }
        span {
          font-weight: 100;
          color: black;
        }
      }
    }
  }
}

/*

 <div class="nesting">
    <div class="test">
      <p>Press meeee <a>(Link) <span>if you can?</span></a> </p>
    </div>
  </div>
  */
