@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    src: url('#{$file-path}.woff') format('woff');
    src: url('#{$file-path}.ttf') format('truetype');
  }
}

@mixin set-fonts($font-size: $fs-10, $ls: $ls-8, $lh: $lh-10) {
  font-size: $font-size;
  letter-spacing: $ls;
  line-height: $lh;
}

@mixin transitElement($val, $angle) {
  opacity: $val;
  transform: rotateX($angle);
}

@mixin transit($props...) {
  transition: $props;
}
